.footer {
    padding: 40px 60px;
    background-color: rgba(254, 121, 170, 0.618);
    display: flex;
    align-items: center;
    text-align: start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer img {
    margin-left: 20px;
}

.footer p {
    font-size: 20px;
}

.footer a {
    text-decoration: none;
    color: black;
    font-size: 40px;
    font-weight: 800;
}

@media screen and (max-width: 850px) {
    .footer {
        padding: 30px 20px;
    }

    .footer img {
        margin: 5px 5px  0 0;
    }
}