.cameras {
    margin: 100px 60px;
}

.cameras h1 {
    font-size: 60px;
}

.allCard {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.camCard {
    width: 30%;
    text-align: start;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11);
    border-radius: 7px;
    cursor: pointer;
    padding: 30px 20px;
    
}

.cardImg {
    height: 300px;
    border-radius: 7px;
}

.cardImg img {
    width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
    border-radius: 7px;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11);
}

.cardImg:hover img {
    transform: scale(1.1);
}

.camCard h4 {
    font-size: 20px;
    padding: 9px 0 2px 0;
}

@media screen and (max-width: 850px) {
    .cameras {
        margin: 40px 20px;
    }

    .allCard {
        flex-direction: column;
    }

    .camCard {
        width:100%;
        margin-bottom: 13px;
    }
}

