.images {
    max-width: 1300px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 40px;
}

.image {
    width: 100%;
    height: 400px;
    cursor: pointer;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    transition: 0.3s ease-in-out;
    box-shadow: 0 5px 25px 2px rgba(0,0,0,0.11);
}

.image:hover img {
    transform: scale(1.1);
}

h1 {
    font-size: 50px;
}