:root {
    /* colors  */
    --text-white: white;
    --text: #1b0e17;
    --color-primary: #ffaadc;
    --color-secondary: #f281c1;
    --color-light: #ffb6df;

    /* fonts */
    --font-poppins: "Poppins";

}