.about {
    margin: 80px 80px;
}

.about h1 {
    font-size: 60px;
}

.me {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 13px;
}

.me-text {
    width: 45%;
    text-align: start;
    font-size: 20px;
}

.me-text h2 {
    padding-bottom: 5px;
}

.img {
    position: relative;
    width: 50%;
    display: flex;
    justify-content: space-between;
    z-index: -99;
}

.img img {
    width: 49%;
    height: 350px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: -1px 1px 62px -18px rgba(0,0,0,0.19);
}

.img img:nth-child(2) {
    position: absolute;
    top: 10%;
    right: 0;
}

@media screen and (max-width: 850px) {
    .about {
        margin: 20px 10px;
    }

    .me {
        display: flex;
        flex-direction: column-reverse;
        margin-top: 20px;
    }

    .me-text {
        width: 100%;
    }

    .img {
        width: 100%;
        margin: 20px 0px;
    }

    .img img {
        height: 250px;
    }

}